*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#F5EEFF,#DAC3F8);
}

#root{
  width: 100%;
  max-width: 410px;
  border-radius: 10px;
  background: linear-gradient(#352163,#33143C);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}




.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
